extends _layout.pug

block variables
  -
    var title = 'Автоподбор в Тюмени от 10 000 руб. с гарантией по договору'
    var description = 'Профессиональный подбор авто в Тюмени – гарантия юридической и криминальной чистоты, технической исправности. Закажите подбор автомобилей под ваш бюджет – работаем без выходных. Автоподбор в Тюмени Green Car, тел. +7 (3452) 958-958'
    var index = true

block content
  include components/inspection.pug
  include components/prices.pug
  include components/parameters.pug
  include components/guarantees.pug
  include components/check.pug
  include components/about.pug
  include components/facts.pug
  include components/reviews.pug
  include components/articles.pug
